body {
    color: #222;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    background-color: #f8ffff;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Consolas, "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 10vw;
    color: #444;
}